body {
    background-image: url("https://insight.kellogg.northwestern.edu/imager/clientcontent/44862/first-among-equals_265dcf20bf86bc91590c49e978b05b5a.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    height: 686px;
}
